body {
	background-color: #F2F1F2;
}

p {
	color: pink;
	font-weight: 3px;
	font-size: 60px;
	text-align: center;
}

.input {
	vertical-align: middle;
	width: 100%;
}

ul {
	width: 30%;
	padding: 0px;
	list-style-type: none;
}

li span{
	width: 75%;
	display: inline-block;
}

input {
	width: 30%;
	padding: 20px;
}


.todoList {
	width: 100%
	position: relative;
    font-size: 35px;
    border-bottom: 1px solid #ededed;
    list-style: none;
}

.color-red {
	color: red;
}

.checkbox-round {
    width: 1em;
    height: 1em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.todo-done {
  text-decoration:line-through;
  list-style-position: inside;
  color: red;
}

.close {
  position: relative;
  width: 32px;
  height: 32px;
  opacity: 0.5;
  cursor: pointer;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 0px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
  top: -5px;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}